<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="example" packages="com.splunk.logging">
    <Appenders>
        <SplunkHttp
                name="splunk"
                url="http://${env:SPLUNK_HOST}:${env:SPLUNK_PORT}"
                token="${env:SPLUNK_TOKEN}"
                index="comminimizer"
                messageFormat="text%"
                source="comminimizer"
                sourceType="log4j"
                batch_size_count="1"
                disableCertificateValidation="true"
        >

            <PatternLayout pattern="%m"/>
        </SplunkHttp>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="splunk"/>
        </Root>
    </Loggers>
</Configuration>